@use '../../styles/globals.scss' as *;

.header {
  background-color: $color-gray-dark; // Usando a variável de cor de fundo do header
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.layout {
  margin-top: 4rem; // Espaço para não cobrir o conteúdo pelo header fixo
  min-height: calc(100vh - 4rem);
  background-color: $color-pages; // Fundo suave usando a variável definida para as páginas
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  width: 100%;
  max-width: 1200px;
  background-color: $color-white; // Fundo branco para o conteúdo principal
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
