@use '../../styles/globals.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

.botoes {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  .botaoBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      padding: 1.2rem 2rem;
      font-size: 1.2rem;
      font-weight: bold;
      border: none;
      border-radius: 0.6rem;
      cursor: pointer;
      color: $color-white;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    span {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: $color-gray-dark;
    }

    &:nth-child(1) button {
      background-color: $color-blue;

      &:hover {
        background-color: $color-blue-dark;
      }
    }

    &:nth-child(2) button {
      background-color: $color-yellow;

      &:hover {
        background-color: $color-yellow-dark;
      }
    }

    &:nth-child(3) button {
      background-color: $color-green;

      &:hover {
        background-color: $color-green-dark;
      }
    }
  }
}

.form {
  background-color: $color-gray-light;
  padding: 2rem;
  border-radius: 0.6rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

  .senhaDestaque {
    font-size: 2.5rem;
    color: $color-black;
    font-weight: bold;
  }

  .chamarNovamente,
  .finalizar {
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
  }

  .chamarNovamente {
    background-color: $color-yellow;

    &:hover {
      background-color: $color-yellow-dark;
    }
  }

  .finalizar {
    background-color: $color-green;

    &:hover {
      background-color: $color-green-dark;
    }
  }
}

.atendimentosFinalizados {
  width: 100%;
  max-width: 700px;
  margin-top: 3rem;
  background-color: $color-gray-light;
  border-radius: 0.6rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-green-dark;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}

  .lista {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 350px;
  
    li {
      background-color: $color-white;
      border: 1px solid $color-gray-light;
      padding: 0.8rem 1.2rem;
      border-radius: 0.6rem;
      margin-bottom: 0.7rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      }
  
      strong {
        font-size: 1.4rem;
        font-weight: bold;
        color: $color-blue-dark;
        text-transform: uppercase;
      }
  
      span {
        font-size: 1.1rem;
        font-weight: 500;
        color: $color-gray-dark;
      }
  
      /* Destaque apenas para a palavra "MOTIVO" */
      span:before {
        content: "MOTIVO: "; /* Adiciona a palavra "MOTIVO" antes do texto */
        font-weight: bold;
        color: $color-blue-dark; /* Cor de destaque */
      }
    }
  }
  
  
  
  
  